/* Background */
/* ================================================================ */

body {
    font-family: Arial;
    background: #181818;
    text-align: left;
    padding: 8px;
    max-width: 960px;
    margin: auto;
    color: #FFFFFF;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin: 10px 0;
}

hr {
    border: 2px solid #404040;
}

/* Text */
/* ================================================================ */

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0px;
}

code {
    background: #000000;
    padding: 2px 6px;
    border-radius: 4px;
}

label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
}

/* Link */
/* ================================================================ */

a {
    color: #FFE040;
}

a:visited {
    color: #FFA0C0;
}

a:hover {
    color: #FFC040;
}

a:active {
    color: #FFA040;
}

/* Button */
/* ================================================================ */

button {
    background: #2080FF;
    color: #FFFFFF;
    box-sizing: border-box;
    border: 0 solid #000;
    max-width: 240px;
    padding: 6px 10px;
    margin: 4px 6px 4px 0px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

button:active {
    background: #0060E0;
}

button:disabled {
    background: #606060;
    cursor: not-allowed;
}

/* Ordinal */
/* ================================================================ */

.ordinal_row {
    display: flex;
}

.root {
    padding: 8px 0px;
}

.ordinal_btn {
    background: #000000;
    font-family: monospace;
    font-size: 16px;
    margin-left: 20px;
    margin-top: -2px;
    padding: 4px 8px;
    max-width: none;
    text-wrap: wrap;
    word-break: break-all;
    text-align: start;
}

.ordinal_btn:active {
    background: #101010;
}

.shifted {
    margin-left: 20px;
}

/* Collapse */
/* ================================================================ */

.collapse_btn {
    position: absolute;
    background: #A00000;
    margin: 4px 0;
    padding: 0;
    min-width: 16px;
    max-height: 16px;
    text-align: center;
    border-radius: 10px;
}

.collapse_btn:active {
    position: absolute;
    background: #800000;
    margin: 4px 0;
    padding: 0;
    min-width: 16px;
    max-height: 16px;
    text-align: center;
    border-radius: 10px;
}

/* Tooltip */
/* ================================================================ */

.tooltip {
    background: #2020A0;
    color: white;
    font-family: monospace;
    font-size: 14px;
    padding: 4px 8px;
    line-height: 18px;
    position: absolute;
    display: none;
    border-radius: 4px;
    pointer-events: none;
    white-space: nowrap;
}

/* Slider */
/* ================================================================ */

input[type="range"] {
    accent-color: #FFE000;
}
